/*Google Fonts 사용*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2rem 5%;
  gap: 4rem;

  background-color: #f5f5f5;
}

div {
  word-break: keep-all;
  overflow-wrap: break-word;
}

nav {
  display: flex;
  gap: 5rem;
  font-size: 2rem;

  position: fixed;
  z-index: 1;
}

header {
  display: grid;
  width: 70%;
  grid-template-areas:
    "title profile-img"
    "sub-text profile-img";
  gap: 0% 5%;
  margin-top: 7rem;
}

.title {
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 600;
  grid-area: title;
}
.sub-text {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  grid-area: sub-text;

  color: rgb(77, 77, 77);
  width: 70%;
}

#profile-img {
  height: 22.5rem;
  min-width: 20rem;
  max-width: 30rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 5%;
  grid-area: profile-img;

  background-color: #f5f5f5;
  object-fit: cover;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  gap: 10rem;

  margin-top: 10rem;
  margin-bottom: 10rem;
}

.pic-container {
  width: 90%;
  height: 19.375rem;

  border-radius: 0.625rem;
  border: 0.5px solid rgb(0, 0, 0, 0.06);
  background: linear-gradient(
      0deg,
      rgb(226, 226, 226, 0.35) 0%,
      rgb(226, 226, 226, 0.35) 100%
    ),
    rgb(255, 255, 255, 0);
  box-shadow: 0px 0.5px 1px 0.5px rgb(255, 255, 255, 0.5) inset,
    0px 2px 4px 0px rgb(0, 0, 0, 0.15), 0px 8px 15px 6px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(40.774227142333984px);

  grid-area: pic-container;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
  gap: 3%;
}
.sub-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.625rem; /* 131.25% */

  grid-area: sub-title;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  display: grid;
  width: 100%;
  gap: 0rem 5%;
}
section,
header {
  /*스크롤 시 중앙 위치*/
  scroll-margin-top: 30vh;
}

section:nth-child(odd) {
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "sub-title pic-container"
    "sub-text pic-container";
}

section:nth-child(even) {
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "pic-container sub-title"
    "pic-container sub-text";
}

section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section:last-of-type .sub-text {
  margin-bottom: 3rem;
  text-align: center;
}

.contact-link {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10%;
}

/*사진처리*/
.food-img {
  width: 50%;
  height: 70%;
  object-fit: contain;
}

.likes-img {
  width: 50%;
  height: 90%;
  object-fit: contain;
}
.work-img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

/*로고 통일*/
.logo-img {
  width: 5rem;
  height: 5rem;
}
a {
  text-decoration: none;
}

/*태블릿 가로*/
@media all and (max-width: 1023px) {
  .title {
    font-size: 3rem;
  }
  #profile-img {
    min-width: 15rem;
    height: 15rem;
  }
  header {
    width: 80%;
  }
  /*main*/
  main {
    width: 90%;
  }
  section:nth-child(n) {
    grid-template-columns: 1fr 1fr;
    gap: 0rem 3%;
  }
  .pic-container {
    width: 90%;
    height: 15rem;
  }
  .sub-title {
    font-size: 1.5rem;
  }

  .logo-img {
    width: 3rem;
    height: 3rem;
  }
}

/*태블릿 세로 */
@media all and (max-width: 767px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 1%;

    gap: 2rem;
  }
  nav {
    gap: 2rem;
    padding-top: 1.2rem;
  }
  header {
    width: 80%;
    gap: 0rem 2.3rem;
  }
  .title {
    font-size: 3rem;
  }
  #profile-img {
    min-width: 10rem;
    height: 10rem;
  }

  /*main*/
  main {
    width: 70%;
    margin-top: 3rem;
    padding-bottom: 5rem;

    gap: 12rem;
  }
  section:nth-child(n) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pic-container {
    width: 90%;
    height: 15rem;
    margin-bottom: 2rem;
  }
  .sub-title {
    font-size: 1.2rem;
  }
  .sub-text {
    font-size: 1rem;
    text-align: center;
  }

  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* 모바일 세로 */
@media all and (max-width: 479px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 1%;

    gap: 2rem;
  }
  nav {
    gap: 2rem;
    padding-top: 1.2rem;
  }
  header {
    width: 93%;
    gap: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  #profile-img {
    min-width: 7rem;
    height: 7rem;
  }

  /*main*/
  main {
    width: 93%;
    margin-top: 3rem;
    padding-bottom: 5rem;

    gap: 12rem;
  }
  section:nth-child(n) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pic-container {
    width: 70%;
    height: 50%;
    margin-bottom: 2rem;
  }
  .sub-title {
    font-size: 1.2rem;
  }
  .sub-text {
    font-size: 1rem;
  }
}

/*애니메이션 및 효과*/

@keyframes up-down-motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
nav a {
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;

  transition: margin-top 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 */
  position: relative; /* 그림자 위치 조정을 위한 설정 */
}
nav a:hover {
  animation: up-down-motion 0.3s linear 0s infinite alternate;
}

nav a:hover::after {
  content: "";
  position: absolute;
  bottom: -0.625rem; /* 요소 아래에 위치 */
  left: 50%;
  transform: translateX(-50%);
  width: 2.5rem; /* 그림자 너비 */
  height: 0.625rem; /* 그림자 높이 */
  background: rgb(0, 0, 0, 0.2); /* 그림자 색상과 투명도 */
  border-radius: 50%; /* 원형 그림자 */
  filter: blur(0.25rem); /* 블러 효과 */
  pointer-events: none; /* 클릭 불가 설정 */
}
